.scrollbar {
	margin-left: 22px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow {
	min-height: 450px;
}

wrapper {
	text-align: center;
	margin: auto;
}

	width: 12px;
	background-color: #F5F5F5;
}

style-8::-webkit-scrollbar,




/**  STYLE 8 */
style-8::-webkit-scrollbar-track {
	border: 1px solid black;
	background-color: #F5F5F5;
}

style-8::-webkit-scrollbar-thumb {
	background-color: #000000;	
}
