.parent
{
    position: fixed:
    width: 100%;
    background: green;

}

.marquee1
{
    margin: 0 auto;
    display: block;
}


.fixed
{
    position: fixed:
    width: 100px;  
    background: blue;
    height: 100px;
}
