.parent
{
    position: fixed:
    width: 100%;
    background: grey;

}

.marquee1
{
    margin: 0 auto;
    display: block;
}


.fixed
{
    position: fixed:
    width: 100px;  
    background: blue;
    height: 100px;
}


.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}


.center-block-riscatta {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background: none repeat scroll 0 0 #f53838;
  border-color: #FFFFFF #327CB5 #327CB5 #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 3px #333333;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
}
