.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#content {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}
#clock {
	font-family: 'Montserrat', "Segoe UI", Segoe, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 79px;
	position:absolute;
	text-align: center;
	line-height: 300px;
	width: 300px;
	color:black;
	display:block;
	z-index: 5;
}
